<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in peoples %}
        <h1>Name: {{ item.name }}</h1>
        <h1>Surname: {{ item.last_name }}</h1>
        {% if item.nickname %}
            <h1>Nickname: {{ item.nickname }}</h1>
        {% endif %}
        <h1>content: {{ item.content }}</h1>
        <h1>Birth Date: {{ item.birth_date }}</h1>
        <h1>Category: {{ item.cat }}</h1>
        <br><br><br>
    {% endfor %}
</body>
</html>
